body{
    
    width: 100vw;
    text-align: center;
    background-color: aqua;
}
 div.num{
    text-align: center;
}

input {
    font-size: 1em;
    padding: 8px;
}

select{
    background-color: aquamarine;
    text-align: center;
    height: 165px;
    width: 150px;
}
