body{
    width: 100vw;
    text-align: center;
    background-color: aqua;
}
 div.num{
    text-align: center;
}

input {
    padding: 7px;
}

select{
    background-color: aquamarine;
    text-align: center;
    width: 100px;
}
